html,
body {
    height: 96%;
    font-family: Roboto;
    font-size: 1.2em;
    background-color: #1d5987;
    margin: 0;
    padding: 1%
}
body > *{
    background-color: #fff;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/*==========================
grid system
============================*/

.nav {
    display: grid;
    grid-area: nav;
}

.section {
    /*display: grid;*/
    grid-area: section;
    justify-content: center;
    align-items: center;
display: none;
}

.section-container {
    height: 300px;
    justify-content: center;
    display: grid;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.login {
    display: grid;
    grid-area: login;
    justify-content: center;
    align-content: center;
}

.comment {
    display: grid;
    grid-area: comment;
    justify-content: center;
    align-items: center;
}

.footer {
    display: grid;
    grid-area: footer;
    align-items: flex-end;
    justify-content: center;
}

/*================================
nested grid-login
===============================*/

.wrapper-nested {
    display: grid;
    min-height: 100%;
    grid-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: "name" "password" "buttons";
}

.input-name-nested {
    display: grid;
    grid-area: name;
    padding: 20px;
    justify-content: center;
}

.input-password-nested {
    display: grid;
    grid-area: password;
    padding: 20px;
    justify-content: center;
}

.buttons-nested {
    display: flex;
    grid-area: buttons;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
}

/*================================
nested grid comment uploadForm
===============================*/

.wrapper-nested-comment {
    display: grid;
    min-height: 100%;
    grid-gap: 20px;
    grid-template-areas: "head" "name" "password" "buttons";
}

.input-comment-head-nested {
    display: grid;
    grid-area: head;
    justify-content: center;
    padding: 20px;
}

.input-comment-name-nested {
    display: grid;
    grid-area: name;
    justify-content: center;
    padding: 20px;
}

.input-comment-review-nested {
    display: grid;
    grid-area: password;
    justify-content: center;
    padding: 20px;
}

.buttons-comment-nested {
    display: grid;
    position: relative;
    grid-area: buttons;
    justify-content: center;
    padding: 20px;
}

/*=============================
links
==============================*/

.nav-link {
    color: #358aa4;
    text-decoration: none;
}

.nav-link:hover {
    color: #000
}

/*=============================
general
==============================*/

[type="submit"],
[type="reset"], button {
    background-color: #358aa4;
    border: 1px solid #000;
    padding: .5rem;
    margin: .5rem;
    border-radius: 7px;
}

#error {
    transform: translate(50%, 0);
    font-size: 11px;
    position: absolute;
}

.error {
    font-size: 11px;
}

#dropContainer {

}

.upload-area {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
    border-radius: 3px;
    overflow: auto;
    grid-template-areas: "file h6";
}

#file {
    display: grid;
    grid-area: file;
    opacity: 0;
    height: 100%;
    padding: 0;
}

h6 {
    visibility: hidden;
    display: grid;
    grid-area: h6;
    grid-column: 1 / 2;
    text-align: center;
}

#dialog {
    visibility: hidden;
}

#open-dialog {
    visibility: hidden;
}
#dialog-end{
    display: none;
}
.ui-widget-overlay {
    opacity: .8 !important;
    background: #0a0a0a !important;
}

.ui-dialog-titlebar {
    background: #fff !important;
    border: none !important;
}

.ui-dialog-content {
    text-align: center;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}


